html,
body {
  display: grid;
  height: 100%;
}

.wrapper {
  width: 450px;
  border-radius: 5px;
  border: 20px solid #292b2c;
  transform: translate(80%, 10%);
}

.wrapper .title {
  line-height: 80px;
  background-color: #292b2c;
  text-align: center;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}

.wrapper form {
  padding: 30px;
}

.wrapper form .row {
  height: 45px;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.wrapper form .row input {
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 60px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.wrapper form .row i {
  position: absolute;
  width: 47px;
  height: 100%;
  color: #fff;
  border-radius: 5px;
  border: 2px solid lightgrey;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #292b2c;
}

.wrapper form .rowbutton {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.wrapper form .rowgoogle {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  /* border: 1px solid #28282b; */
}

.wrapper form .rowbutton input {
  font-size: 20px;
  width: 100%;
  color: #fff;
  background-color: #292b2c;
  border-radius: 5px;
}

.wrapper form .pass {
  margin: -10px 0 15px 0;
  color: #292b2c;
  display: flex;
  flex: 1;
}

.wrapper form .pass a {
  text-decoration: none;
  color: #292b2c;
}

.wrapper form .pass a:hover {
  text-decoration: underline;
}

.wrapper form .signuplink {
  margin-top: 20px;
  text-align: center;
  color: #292b2c;
  margin-bottom: 20px;
}

.wrapper form .signuplink a {
  color: blue;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .signuplink a:hover {
  text-decoration: underline;
}

.wrapper form .rowbutton .signbutton {
  background-color: #292b2c;
  color: #fff;
  padding: 0.1em;
  width: 100%;
  font-size: 22px;
  border-radius: 5px;
  align-items: center;
}

/* .googletext {
 width: 100%;
  color: #28282b;
} */
